.up {
	cursor: pointer;

	position: fixed;
	right: 30px;
	bottom: 30px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 10px;

	background: var(--primary);
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);

	transition: 0.3s background ease;

	svg {
		width: 20.021px;
		height: 12.192px;
	}

	&:hover {
		background: var(--primary-hover);
	}
}
