.secondLevelWrapper {
	display: flex;
	flex-direction: column;
}

.secondLevelModule {
	display: flex;
	flex-direction: column;
	gap: 10px;

	margin-left: 12px;
	padding: 12px 0 12px 32px;
	border-left: 1px solid var(--gray-light);
}

.secondLevelBlock {
	overflow: hidden;
	/* display: none; */
	flex-direction: column;
	gap: 12px;
}

.secondLevelBlockOpened {
	display: flex;
}

.secondMenuItem {
	cursor: pointer;

	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	color: var(--gray-variant);
	text-transform: uppercase;
}
