:root {
	--black: #3b434e;
	--gray: #b3c0d9;
	--gray-light: #ebebeb;
	--gray-variant: #787d85;
	--white: #fff;
	--primary: #7653fc;
	--primary-hover: #5e3aed;
	--red: #de0000;
	--green: #1dc37e;
	--green-light: #c8f8e4;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
}
