.app {
	min-height: 100vh;
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'. header header .'
		'. sidebar main .'
		'footer footer footer footer';
}

.header {
	grid-area: header;
	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	margin: 30px 0 0;
	grid-area: main;
}

.footer {
	grid-area: footer;
}

@media (max-width: 765px) {
	.app {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			'header'
			'main'
			'footer';
	}

	.sidebar {
		display: none;
	}

	.header {
		display: flex;
	}
}
