.star {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	fill: var(--gray-light);

	&.filled {
		fill: var(--primary);
	}

	&.isEditable {
		cursor: pointer;
	}
}

.error {
	position: relative;

	svg {
		stroke: var(--red);
	}
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}
