.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;
}

.count {
	padding: 20px;
	text-align: center;
}

.salary {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
	text-align: center;
}

.salary > div {
	border-right: 1px solid var(--gray-light);
}

.salary > div:last-child {
	border-right: none;
}

.title {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.countValue {
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
	color: var(--primary);
}

.salaryValue {
	margin-bottom: 10px;

	font-size: 26px;
	font-weight: bold;
	line-height: 35px;
	color: var(--black);
}

.rate {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	gap: 10px;
	justify-content: center;
}

.filled circle {
	opacity: 0.45;
	fill: var(--red);
}

@media (width <= 1200px) {
	.hh {
		grid-template-columns: 1fr;
	}
}

@media (width <= 640px) {
	.salary {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.salary > div {
		padding-bottom: 20px;
		border-right: none;
		border-bottom: 1px solid var(--gray-light);
	}

	.salary > div:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
}
