.thirdLevelWrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.thirdMenuItem {
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	color: var(--gray-variant);
}

.thirdLevelItemActive {
	color: var(--primary);
}
