.product {
	display: grid;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
	margin-bottom: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
	grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
	grid-column: ratestart / end;
}

.hr,
.description,
.reviews {
	grid-column: start / end;
}

.feature {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.logo {
	img {
		border-radius: 5px;
	}
}

.title {
	align-self: flex-end;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
}

.categories {
	margin-top: 7px;
}

.price,
.credit {
	font-size: 20px;
	line-height: 27px;
	align-self: flex-end;
}

.credit {
	span {
		font-size: 14px;
		line-height: 19px;
	}
}

.rating {
	align-self: flex-end;
}

.priceTitle,
.creditTitle,
.rateTitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.price {
	display: flex;
	align-items: center;
}

.oldPrice {
	margin-left: 5px;
	font-size: 12px;
	font-weight: 500;
}

.description {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.advBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.advantages,
.disadvantages {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 16px;
	line-height: normal;

	span {
		font-size: 16px;
		font-weight: 700;
		line-height: normal;
	}
}

.advantages {
	border-left: 2px solid var(--green);
	padding-left: 15px;
}
.disadvantages {
	border-left: 2px solid var(--red);
	padding-left: 15px;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding-right: 60px;
	align-items: baseline;
	gap: 10px;

	line-height: 32px;
}

.characteristicsName {
	font-weight: 700;
}

.characteristicsValue {
	font-weight: 500;
}

.characteristicsDots {
	border-bottom: 1px dashed var(--gray-light);
	margin-bottom: 5px;
}
