/* [project]/components/layout/Product/Product.module.css [app-client] (css) */
.Product-module__VG1PQa__product {
  grid-template-columns: [start] 70px[logoend] 30px[titlestart] calc(50% - 100px)[middle] 1fr[pricestart] auto[priceend] 40px[creditstart] auto[creditend] 40px[ratestart] auto[end];
  margin-bottom: 30px;
  padding: 30px;
  display: grid;
}

.Product-module__VG1PQa__logo {
  grid-area: 1 / start / span 2 / logoend;
}

.Product-module__VG1PQa__title, .Product-module__VG1PQa__tags {
  grid-column: titlestart / middle;
}

.Product-module__VG1PQa__price, .Product-module__VG1PQa__priceTitle {
  grid-column: pricestart / priceend;
}

.Product-module__VG1PQa__credit, .Product-module__VG1PQa__creditTitle {
  grid-column: creditstart / creditend;
}

.Product-module__VG1PQa__rating, .Product-module__VG1PQa__rateTitle {
  grid-column: ratestart / end;
}

.Product-module__VG1PQa__hr, .Product-module__VG1PQa__description, .Product-module__VG1PQa__reviews {
  grid-column: start / end;
}

.Product-module__VG1PQa__feature {
  grid-column: start / middle;
}

.Product-module__VG1PQa__advBlock {
  grid-column: middle / end;
}

.Product-module__VG1PQa__logo img {
  border-radius: 5px;
}

.Product-module__VG1PQa__title {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.Product-module__VG1PQa__categories {
  margin-top: 7px;
}

.Product-module__VG1PQa__price, .Product-module__VG1PQa__credit {
  align-self: flex-end;
  font-size: 20px;
  line-height: 27px;
}

.Product-module__VG1PQa__credit span {
  font-size: 14px;
  line-height: 19px;
}

.Product-module__VG1PQa__rating {
  align-self: flex-end;
}

.Product-module__VG1PQa__priceTitle, .Product-module__VG1PQa__creditTitle, .Product-module__VG1PQa__rateTitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.Product-module__VG1PQa__price {
  align-items: center;
  display: flex;
}

.Product-module__VG1PQa__oldPrice {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.Product-module__VG1PQa__description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
}

.Product-module__VG1PQa__advBlock {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

.Product-module__VG1PQa__advantages, .Product-module__VG1PQa__disadvantages {
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  line-height: normal;
  display: flex;
}

:is(.Product-module__VG1PQa__advantages, .Product-module__VG1PQa__disadvantages) span {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.Product-module__VG1PQa__advantages {
  border-left: 2px solid var(--green);
  padding-left: 15px;
}

.Product-module__VG1PQa__disadvantages {
  border-left: 2px solid var(--red);
  padding-left: 15px;
}

.Product-module__VG1PQa__characteristics {
  grid-template-columns: auto 1fr auto;
  align-items: baseline;
  gap: 10px;
  padding-right: 60px;
  line-height: 32px;
  display: grid;
}

.Product-module__VG1PQa__characteristicsName {
  font-weight: 700;
}

.Product-module__VG1PQa__characteristicsValue {
  font-weight: 500;
}

.Product-module__VG1PQa__characteristicsDots {
  border-bottom: 1px dashed var(--gray-light);
  margin-bottom: 5px;
}

/*# sourceMappingURL=components_layout_Product_Product_module_css_bad6b30c._.single.css.map*/