.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.firstMenuItem {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	margin-bottom: 12px;
}

.firstMenuItem {
	color: var(--gray-variant);
	transition: 0.3s color ease-in-out;

	svg {
		height: 24px;
		width: 24px;
		fill: var(--gray-variant);
		transition: 0.3s fill ease-in-out;
	}

	&:hover {
		color: var(--primary);

		svg {
			fill: var(--primary);
		}
	}
}

.firstLevelItemActive {
	color: var(--primary);

	svg {
		fill: var(--primary);
	}
}

.menuItemName {
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
}
