.sortIcon {
	display: none;
}

.active {
	display: flex;
	gap: 8px;
	align-items: center;

	font-weight: bold;
	color: var(--primary);

	.sortIcon {
		display: block;
	}
}

.sort {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}
