.search {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.input {
	width: 100%;
	font-family: inherit;
}

.button {
	cursor: pointer;

	position: absolute;
	top: 3px;
	right: 3px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 30px;
	height: 30px;
	border: none;
	border-radius: 4px;

	background: var(--primary);

	transition: 0.3s background ease;

	&:hover {
		background: var(--primary-hover);
	}
}
