.input {
	padding: 7px 15px;
	border: none;
	border-radius: 5px;

	font-family: inherit;
	font-size: 16px;
	line-height: 22px;
	color: var(--black);

	background: var(--white);
	outline-color: var(--primary);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	&::placeholder {
		color: var(--gray);
	}
}

.inputWrapper {
	position: relative;

	span {
		position: absolute;
		left: 0;
		bottom: -20px;
		color: var(--red);
	}
}

.error {
	border: 1px solid var(--red);
}
