.reviews {
	display: flex;
	flex-direction: column;
	gap: 25px;
	background: #f5f6f8;
}

/* .closed {
	overflow: hidden;
	max-height: 0;
	padding: 0;
}

.opened {
	overflow: hidden;
	max-height: auto;
	padding: 30px;
	margin-top: 30px;
} */

.reviews {
	overflow: hidden;
	padding: 30px;
}

.reviewsWrapper {
	overflow: hidden;
}

.actions {
	display: flex;
	gap: 20px;
}
