.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	align-items: center;
	justify-content: left;
}

.vacancies {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.seoText {
	h1 {
		margin: 0;
		font-size: 26px;
		font-weight: 500;
		line-height: 35px;
	}

	h2 {
		margin: 0;
		font-size: 22px;
		font-weight: 500;
		line-height: 30px;
	}

	h3 {
		margin: 0;
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
	}
}
