.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
	align-items: center;

	font-size: 14px;
	line-height: 24px;
}

.description,
.submit {
	grid-column: start / end;
}

.title {
	justify-self: left;
}

.submit {
	span {
		margin-left: 15px;
	}
}

.rating {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.success {
	position: relative;

	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;

	background: var(--green-light);
}

.successTitle {
	font-weight: bold;
}

.close {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}

.error {
	position: relative;

	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;

	background: var(--red-light);

	.close {
		path {
			stroke: var(--red);
		}
	}
}

.errorTitle {
	font-weight: bold;
}
